.title-row{
  border-bottom: solid 3px #7d97ad;
}
.title{
  text-align: right;
}
.main-img{
  width: 100%;
  height: auto;
  margin-top: 20px;
}
.sub-title{
  color:#7d97ad;
  padding-top: 3%;
}
.sub-img{
  width: 100%;
  height: auto:
}
a{
 color: #2d3c49;
 font-size: 1.9em;
}
a:hover{
  color: #000;
  text-decoration: none;

}
.text-center{
  text-align: center;
}
section, header{
  margin: 10px 0;
}
.logo{
  max-height: 80px;
  width: auto;
}
